# .github/workflows/ci.yml
name: CI
defaults:
  run:
    shell: bash -ieo pipefail {0}

    
on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/docker/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '.github/docker/**'

jobs:
  ci:
    uses: ./.github/workflows/ci_reusable.yml
